/* styles.css */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #3f0e40;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.workspace-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.channels {
    flex: 1;
}

.channela {
    color:#3f0e40;
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 4px;
}
.channel {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header h3 {
    margin: 0;
}

.new-post {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: flex;
    width: 77%; 
}


.new-post form {
    flex-grow: 1;
    min-width: 0;
}

#userContent {
    width: calc(99%);
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    height: 90px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button.send-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4f4f4f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    position: relative;
    top: -10px; 
}


#postContainer {
    margin-top: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    word-wrap: break-word;
    max-width: 100%; 
}

.post img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

.reactions {
    display: flex;
    flex-wrap: wrap;
}




.reaction {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: #e1e1e1;
    font-size: 14px;
    color: #333333;
    
}

.reaction img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 0px; 
}
